<IfModule mod_rewrite.c>

   RewriteEngine On

   #Static assets
   RewriteRule ^(.*\.(woff|ttf|svg|js|ico|gif|jpg|png|css|htc|xml|txt))$ /static/$1
   
   RewriteCond %{HTTPS} off
   RewriteRule ^(.*)$ https://%{HTTP_HOST}%

   RewriteCond %{REQUEST_URI} !^/static/
   RewriteRule ^ index.php [QSA,L]

</IfModule>